.biography {
    position: relative;
    bottom: 30px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: gray;
    background-color: #fff;
}
.image {
    font-size: 75px;
    
    position: relative;
    top: 20px;
    left: 500px;
}
.text {
    position: relative;
    top: -50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#home {
    font-size:  30px;
}
.link {
    font-family: cursive;
    font-size: 30px;
    left: 60%;
    top: -100px;
    text-decoration: none;
    color: black;
    position: relative;
    

}
.link2 {
    font-size: 30px;
    left: 64%;
    top: -100px;
    text-decoration: none;
    color: black;
    position: relative;
    font-family: cursive;

}
img{
 width: 100px;
 height: 100px;
}